# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/react/node_modules
/server/node_modules
/react/.pnp
/react/.pnp.js

# testing
/coverage

# production
/react/build

# misc
.DS_Store

todo.md

/react/npm-debug.log*
/react/yarn-debug.log*
/react/yarn-error.log*


/react/.eslintcache