.nav {
  height: 30px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid rgb(108, 108, 108);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}

.tracker {
  right: 50px;
  position: absolute;
  height: 30px;
  display: inline-flex;
  align-items: center;
  font-size: 20px;
}

.dot {
  color: black;
  cursor: pointer;
  font-size: 50px;
  line-height: 30px;
  margin: 0 15px;
  opacity: 4;
  text-shadow: none;
  transition: opacity 1s ease, text-shadow 1s ease;
  will-change: opacity, text-shadow;
}

.active {
  color: var(--blue);
  opacity: 1;
  text-shadow: 0 0px 8px;
}
